<?xml version="1.0" encoding="utf-8"?>
<plugin 
    id="vritra-plugin-fetcher" version="1.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android"
>
    <name>Fetcher</name>
    <js-module name="Fetcher" src="www/index.js">
        <clobbers target="Fetcher"/>
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Fetcher">
                <param name="android-package" value="com.vritra.fetcher.Fetcher"/>
            </feature>
        </config-file>
        <edit-config file="app/src/main/AndroidManifest.xml" target="/manifest/application" mode="merge">
            <application android:usesCleartextTraffic="true" android:requestLegacyExternalStorage="true"/>
        </edit-config>
        <config-file target="app/src/main/AndroidManifest.xml" parent=".">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
        </config-file>
        <source-file src="src/android/Fetcher.java" target-dir="src/com/vritra/Fetcher"/>
        <source-file src="src/android/Uploader.java" target-dir="src/com/vritra/Fetcher"/>
        <source-file src="src/android/UploaderClient.java" target-dir="src/com/vritra/Fetcher"/>
        <source-file src="src/android/UploadAPI.java" target-dir="src/com/vritra/Fetcher"/>
        <source-file src="src/android/FileUtils.java" target-dir="src/com/vritra/Fetcher"/>
        <source-file src="src/android/ProgressRequest.java" target-dir="src/com/vritra/Fetcher"/>
        <source-file src="src/android/Downloader.java" target-dir="src/com/vritra/Fetcher"/>
        <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Fetcher">
                <param name="ios-package" value="Fetcher" onload="false"/>
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="NSPhotoLibraryAddUsageDescription">
            <string>$(PRODUCT_NAME) needs permission to save images to the photo library</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>$(PRODUCT_NAME) needs permission to save images to the photo library</string>
        </config-file>
        <source-file src="src/ios/Downloader.swift"/>
        <source-file src="src/ios/Uploader.swift"/>
        <source-file src="src/ios/Fetcher.swift"/>
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="Alamofire" spec="5.3.0"/>
            </pods>
        </podspec>
    </platform>

    <platform name="browser">
        <js-module src="src/browser/Fetcher.js" name="browserFetcher">
            <clobbers target="Fetcher"/>
        </js-module>
    </platform>

    <dependency 
        id="vritra-plugin-common" 
        url="https://github.com/AhmedAyachi/vritra-plugin-common"
    />
</plugin>